.formContainer {
  width: 20rem;
}
.formHeader {
  display: flex;
  justify-content: space-between;
}

.buttonsBlock {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.formErrorLabel {
  line-height: 1rem;
  font-size: x-small;
  color: crimson;
}

.formElement {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.formElementLabel {
  font-size: 1.1em;
  margin-bottom: 2px;
}

.formInput {
  padding: 5px;
  background: none;
  border: 1px #cccccc solid;
  border-radius: 4px;
}

.actionButton {
  height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  min-width: 6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}
