.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;

  .navigationTitle {
    color: white;
    text-transform: uppercase;
  }

  .navigationButton {
    margin-right: 1em;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100px;
    left: 0;
    right: 0;
    background-color: #00cfa4;
    z-index: -1;
  }
}
