.container {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.table {
  margin-left: 25px;
  margin-right: 25px;
  width: calc(100% - 50px);
  box-sizing: border-box;
  align-self: stretch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.navigation {
  padding-left: 25px;
  padding-right: 25px;
}

.loadMoreButton {
  font-size: 1rem;
  margin-top: 20px;
  padding: 4px 30px;
  align-self: center;
  border: 2px #00cfa4 solid;
  border-radius: 5px;
  background: none;
  text-transform: uppercase;

  &:hover {
    background: #00cfa4;
    color: white;
    cursor: pointer;
  }
}
